pytelegrambotapi
telebot-calendar
djangorestframework
djangorestframework-simplejwt
python-decouple
psycopg2-binary
django-filter
drf-yasg
redis
celery
pillow
django-redis
python-telegram-bot==13.15
gunicorn